{% extends "base.html" %}
{% block content %}



<div class="flex justify-around">
<div class="w-[800px] mx-auto">

    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900  dark:text-white text-center">About Project</h1>


    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa fugit blanditiis rerum nisi praesentium quis accusantium repudiandae nostrum deserunt quos sunt saepe, voluptatem iure recusandae harum deleniti? Necessitatibus, voluptatibus hic.</p>

    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, quis nulla, accusamus quod ex consequatur nihil ratione hic vel iste asperiores accusantium vitae obcaecati sint repellat inventore! Pariatur, doloremque sed!</p>

    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima laborum praesentium nihil corrupti recusandae placeat qui, consectetur nesciunt expedita modi deserunt nam a non quos enim officiis quasi consequatur quas!</p>

   
  
   


</div>
<div class="w-full max-w-sm p-4 bg-white border rounded-lg shadow-md sm:p-6 dark:bg-gray-800 dark:border-gray-700 mr-[30px]">
    <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
      Team Members
    </h5>
    <ul class="my-4 space-y-3">
        <li>
            <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-blue-100 hover:bg-blue-300 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
               <img width="20" src="/static/logo_sc.png">
                <span class="flex-1 ml-3 whitespace-nowrap">Devika</span>
                <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">CS Student</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-blue-100 hover:bg-blue-300 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <img width="20" src="/static/logo_sc.png">
                <span class="flex-1 ml-3 whitespace-nowrap">XYZ</span>
                <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">CS Student</span>
            </a>
        </li>
      
    </ul>
    
</div>
</div>
{% endblock %}