{% extends "base.html" %}
{% block content %}


<h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">Skin Lesion Classifier</h1>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Find out if the skin lesion is normal or not. Upload image to proceed.</p>


<div class="w-[900px] mx-auto">

    <form action="/upload" id="upload-file" method="post" enctype="multipart/form-data">
        <p class="comment text-center mb-3">Select image to upload and press Detect:</p>
        <div class="custom-file">

            <div class="mx-auto p-9 flex items-center justify-center w-[900px]">
                <label for="dropzone-file" class="custom-label flex flex-col items-center justify-center h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 w-[900px]" style="width:900px ;">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6 px-[100px]">
                        <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG</p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden"  name="file" id="customFile"/>
                </label>
            </div> 


        </div>

        <div>
            <button type="submit" id="btn-predict" value="Detect" class=" text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 block " style="width:900px ; margin:20px auto;">Detect</button>

        </div>
    </form>

   
    <h3 id="result">
        <span> </span>
    </h3>

</dive>
{% endblock %}